h1, h2, legend, p, ul, ol, label, .sidebar {
      font-family: $roboto;
}
h1, h2, legend {
      font-weight: 700;
}
h1 {
      font-size: calc(24px + 12 * (100vw / 1920));
      margin-bottom: 1em;
}
h2 {
      width: 70%;
}
h2, legend {
    font-size: calc(18px + 8 * (100vw / 1920));
    margin-bottom: 1em;
}
p, ol, ul {
      font-size: calc(14px + 2 * (100vw / 1920));
      font-weight: inherit;
}
li {
      margin-top: 1em;
      line-height: 1.4em;
}
a {
      font-family: inherit;
      color: inherit;
      text-decoration: none;

      &:hover {
          text-decoration: underline;
          color: inherit;
      }
}